{% extends 'base.html' %}

{% block content %} 


<!--Login--> 
<div class="container py-5">
	<h1>Update Password</h1>
	<form method="POST" action="">
		{% csrf_token %}
		<div class="mb-3">
			<label  class="form-label">OTP  {{ email }}</label>
			<input type="text" class="form-control" id="otp" name="otp" ><br>
		</div>
        <div class="mb-3">
			<label  class="form-label">Password</label>
			<input type="password" class="form-control" id="password1" name="password1" >
		</div>
        <div class="mb-3">
			<label  class="form-label">Confirm Password</label>
			<input type="password" class="form-control" id="password2" name="password2" >
		</div>
		<a href="{% url 'login'%}" ><input type="submit" class="btn btn-outline-danger" value="Submit"></a>
		{% comment %} <button class="btn btn-primary" type="submit">Submit</button> {% endcomment %}
	</form>
</div>

{% endblock %} 